openapi: 3.1.0
info:
  title: Progrid API
  license:
    name: Proprietary
    url: https://progrid.sa/terms
  version: "1"
  description: |
    The Progrid public API. The same API powers the console, CLI, Terraform provider,
    SDKs and AI agents (via MCP).

    **Conventions**
    - Base URL: `https://api.progrid.sa/v1`
    - Auth: `Authorization: Bearer prgd_…` (API token) or a console session JWT
    - Lists are cursor-paginated: `?limit=50&cursor=<id>` → `meta.next_cursor`
    - Mutations accept `Idempotency-Key` (replayed for 24h; same key + different body → 409)
    - Long operations return `202 Accepted` and a resource in a transitional status; poll or use webhooks
    - Money is integer minor units (`amountMinor`) with an explicit `currency` (`USD` | `SAR`)
    - Errors: `{ "error": { "code", "message", "details?" } }`
    - Rate limits: 600 requests per minute per token or session, 120 per minute per IP when anonymous,
      10 sign in attempts per minute per IP. Over the limit: `429 rate_limited` with `Retry-After`
servers:
  - url: https://api.progrid.sa/v1
    description: production
  - url: http://localhost:4000/v1
    description: local development
security:
  - bearerAuth: []

tags:
  - name: auth
  - name: account
  - name: approvals
  - name: monitoring
  - name: servers
  - name: catalog
  - name: deploys
  - name: github
  - name: network
  - name: snapshots
  - name: volumes
  - name: load-balancers
  - name: dns
  - name: object-storage
  - name: databases
  - name: kubernetes
  - name: app-platform
  - name: marketplace
  - name: billing
  - name: support
  - name: managed-cloud
    description: Managed cloud contracts. Progrid engineers operate your servers and sites under an SLA. Contracts and reports are for team owners; members can open and read tickets and see assets.
  - name: webhooks
  - name: connect
    description: Progrid Connect. Build, test and deploy AI agents that connect to your infrastructure, APIs and applications. Members read; owners and admins change.
  - name: connect-public
    description: The run API of deployed agents and inbound webhooks. Authenticated with an agent key, a team token with connect:write, or the webhook URL token.

paths:
  /auth/signup:
    post:
      tags: [auth]
      security: []
      summary: Create a user, team and default project
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/Signup" } } } }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/Session" } } } }
        "409": { $ref: "#/components/responses/Conflict" }
  /auth/login:
    post:
      tags: [auth]
      security: []
      summary: Log in and receive a session token
      description: |
        When the user has two factor sign in, the first call answers 401 `totp_required`; repeat it with `totp`
        set to the six digit authenticator code or an unused recovery code. Team owners must enable two factor
        when `REQUIRE_TOTP_FOR_OWNERS` is on; until then console sessions get 403 `totp_setup_required` on every
        route except the account and two factor endpoints. API tokens are exempt.
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [email, password], properties: { email: { type: string, format: email }, password: { type: string }, totp: { type: string } } } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Session" } } } }
        "401": { description: "Wrong email or password, `totp_required`, or `password_not_set` for an account that signs in only with Google or Microsoft (`details.providers` names them)" }

  /auth/verify:
    post:
      tags: [auth]
      security: []
      summary: Confirm an email address with the token from the verification email
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [token], properties: { token: { type: string } } } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: object, properties: { verified: { type: boolean } } } } } }
        "400": { description: Token invalid or expired (`token_invalid`) }
  /auth/verify/request:
    post:
      tags: [auth]
      summary: Send the verification email again for the signed in user
      responses: { "204": { description: Sent (or already verified) } }
  /auth/password/forgot:
    post:
      tags: [auth]
      security: []
      summary: Send a password reset link
      description: Always returns 204 so email addresses cannot be probed. Limited to 5 requests per 10 minutes per IP.
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [email], properties: { email: { type: string, format: email } } } } } }
      responses: { "204": { description: Accepted } }
  /auth/password/reset:
    post:
      tags: [auth]
      security: []
      summary: Set a new password with the token from the reset email
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [token, password], properties: { token: { type: string }, password: { type: string, minLength: 10 } } } } } }
      responses:
        "200": { description: OK }
        "400": { description: Token invalid or expired (`token_invalid`) }
  /auth/totp/setup:
    post:
      tags: [auth]
      summary: Start two factor enrollment
      description: Returns a new secret and an `otpauth://` URL to show as a QR code. Nothing is enforced until `/auth/totp/enable` confirms a code.
      responses:
        "201": { description: OK, content: { application/json: { schema: { type: object, properties: { secret: { type: string }, otpauthUrl: { type: string } } } } } }
        "409": { description: Already enabled (`totp_enabled`) }
  /auth/totp/enable:
    post:
      tags: [auth]
      summary: Confirm the authenticator and turn two factor on
      description: Returns ten recovery codes exactly once. Each recovery code signs the user in a single time.
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/TotpCode" } } } }
      responses:
        "201": { description: OK, content: { application/json: { schema: { type: object, properties: { enabled: { type: boolean }, recoveryCodes: { type: array, items: { type: string } } } } } } }
        "401": { description: Code not valid (`totp_invalid`) }
  /auth/totp/disable:
    post:
      tags: [auth]
      summary: Turn two factor off (needs a current code or a recovery code)
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/TotpCode" } } } }
      responses:
        "201": { description: OK }
        "401": { description: Code not valid (`totp_invalid`) }

  /auth/providers:
    get:
      tags: [auth]
      security: []
      summary: Social sign in providers that are configured (the console shows a button for each)
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: object, properties: { providers: { type: array, items: { type: object, properties: { id: { type: string, enum: [google, microsoft] }, name: { type: string } } } } } } } } }
  /auth/oauth/{provider}/start:
    get:
      tags: [auth]
      security: []
      summary: Start sign in with Google or Microsoft (the browser navigates here)
      description: |
        Redirects to the provider with the authorization code flow, PKCE (S256), `state` and `nonce`, scopes
        `openid email profile`. Sets an HttpOnly, Secure, SameSite=Lax cookie that binds the sign in to this
        browser; the pending state lives on the server for 10 minutes. `intent=link` needs a `ticket` from
        `POST /auth/oauth/link-ticket`. Errors redirect to the console `/auth/callback?error=<code>`.
      parameters:
        - { name: provider, in: path, required: true, schema: { type: string, enum: [google, microsoft] } }
        - { name: intent, in: query, schema: { type: string, enum: [login, signup, link], default: login } }
        - { name: return, in: query, description: Console path to land on afterwards, schema: { type: string } }
        - { name: invite, in: query, description: Invitation token; a new account joins that team instead of creating one, schema: { type: string } }
        - { name: ticket, in: query, description: One time link ticket (intent link), schema: { type: string } }
        - { name: locale, in: query, schema: { type: string, enum: [en, tr, ar] } }
      responses:
        "302": { description: "Redirect to the provider, or to the console with an error code" }
  /auth/oauth/{provider}/callback:
    get:
      tags: [auth]
      security: []
      summary: Provider redirect URI
      description: |
        Checks `state` and the browser cookie, exchanges the code with the PKCE verifier, verifies the id token
        (signature against the provider key set, audience, issuer, nonce) and redirects to the console
        `/auth/callback?code=<one time code>` (valid 60 seconds). Session tokens never appear in URLs.
        Error codes: `state_invalid`, `cancelled`, `provider_error`, `token_invalid`, `link_from_security`,
        `identity_in_use`, `email_missing`, `account_exists`, `invite_email_mismatch`, `invite_invalid`,
        `link_session_invalid`.
      parameters:
        - { name: provider, in: path, required: true, schema: { type: string, enum: [google, microsoft] } }
      responses:
        "302": { description: Redirect to the console }
  /auth/oauth/exchange:
    post:
      tags: [auth]
      security: []
      summary: Redeem the one time code from the console callback
      description: Same answer as `/auth/login`, plus `created` and `returnTo`. Accounts with two factor sign in get `{ totpRequired, ticket }` instead; finish with `/auth/oauth/totp`.
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [code], properties: { code: { type: string } } } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { oneOf: [{ $ref: "#/components/schemas/Session" }, { type: object, properties: { totpRequired: { type: boolean, const: true }, ticket: { type: string } } }] } } } }
        "400": { description: "Code unknown, expired or already used (`code_invalid`)" }
        "403": { description: Staff account without two factor sign in (`totp_setup_required`) }
  /auth/oauth/totp:
    post:
      tags: [auth]
      security: []
      summary: Second factor for a social sign in
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [ticket, code], properties: { ticket: { type: string }, code: { type: string } } } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Session" } } } }
        "400": { description: Ticket expired or used (`ticket_invalid`); five wrong codes end it }
        "401": { description: Code not valid (`totp_invalid`) }
  /auth/oauth/link-ticket:
    post:
      tags: [auth]
      summary: One time ticket (60 seconds) to link Google or Microsoft to the signed in user
      description: Console sessions only; API tokens get 403. Pass it to `/auth/oauth/{provider}/start?intent=link&ticket=…`.
      responses:
        "201": { description: OK, content: { application/json: { schema: { type: object, properties: { ticket: { type: string } } } } } }
  /account/identities:
    get:
      tags: [account]
      summary: Linked Google and Microsoft accounts, whether a password is set, and which providers can be linked
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: object, properties: { hasPassword: { type: boolean }, available: { type: array, items: { type: string } }, data: { type: array, items: { type: object, properties: { id: { type: string }, provider: { type: string, enum: [google, microsoft] }, email: { type: string }, emailVerified: { type: boolean }, tenantId: { type: [string, "null"] }, createdAt: { type: string, format: date-time }, lastUsedAt: { type: [string, "null"], format: date-time } } } } } } } } }
  /account/identities/{id}:
    delete:
      tags: [account]
      summary: Unlink a Google or Microsoft account
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses:
        "204": { description: Unlinked }
        "409": { description: It is the only way left to sign in (`last_sign_in_method`) }

  /account:
    get:
      tags: [account]
      summary: Current user, team, role and scopes
      responses:
        "200": { description: OK }
  /projects:
    get: { tags: [account], summary: List projects, responses: { "200": { description: OK } } }
    post:
      tags: [account]
      summary: Create a project
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name, slug], properties: { name: { type: string }, slug: { type: string, pattern: "^[a-z0-9-]{2,40}$" }, spendLimitMinor: { type: integer } } } } } }
      responses: { "201": { description: Created } }
  /tokens:
    get: { tags: [account], summary: List API tokens, responses: { "200": { description: OK } } }
    post:
      tags: [account]
      summary: Create an API token (human or AI agent)
      description: |
        Agent-safe tokens set `isAgent: true` and may carry `spendCapMinor` (monthly hard cap)
        and `requireApprovalFor` (e.g. `["servers:delete","servers:resize-down"]`). A token can
        never carry scopes its creator does not have.
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CreateToken" } } } }
      responses:
        "201": { description: "Created — `token` is shown once", content: { application/json: { schema: { type: object, properties: { id: { type: string }, token: { type: string }, prefix: { type: string } } } } } }
  /tokens/{id}:
    delete: { tags: [account], summary: Revoke a token, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "204": { description: Revoked } } }
  /audit:
    get: { tags: [account], summary: Team audit log (newest 200 entries), responses: { "200": { description: OK } } }
  /interest:
    post:
      tags: [account]
      summary: Register interest in a roadmap product ("notify me when this launches")
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [product], properties: { product: { type: string, example: inference }, note: { type: string } } } } } }
      responses: { "204": { description: Recorded } }
  /ssh-keys:
    get: { tags: [account], summary: List SSH keys, responses: { "200": { description: OK } } }
    post:
      tags: [account]
      summary: Add an SSH public key
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name, publicKey], properties: { name: { type: string }, publicKey: { type: string } } } } } }
      responses: { "201": { description: Created } }
  /ssh-keys/{id}:
    delete: { tags: [account], summary: Delete an SSH key, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "204": { description: Deleted } } }

  /regions:
    get: { tags: [catalog], security: [], summary: List regions, responses: { "200": { description: OK } } }
  /sizes:
    get: { tags: [catalog], security: [], summary: List server sizes, responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/Size" } } } } } } } } }
  /images:
    get:
      tags: [catalog]
      security: []
      summary: List images
      parameters: [{ name: kind, in: query, schema: { type: string, enum: [distribution, marketplace] } }]
      responses: { "200": { description: OK } }
  /billing/topup:
    post:
      tags: [billing]
      summary: Start a card payment that becomes prepaid credit
      description: Returns the hosted Moyasar payment page (mada, Visa, Mastercard, Apple Pay) to send the person to. Agents cannot call this.
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [amountMinor], properties: { amountMinor: { type: integer, description: "USD 5 to 5000, SAR 200 to 200000" } } } } } }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/Checkout" } } } }
  /billing/invoices/{id}/pay:
    post:
      tags: [billing]
      summary: Pay an open invoice by card
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/Checkout" } } } }
        "409": { description: Invoice is not open (`invalid_state`) }
  /billing/invoices/{id}/pdf:
    get:
      tags: [billing]
      summary: Invoice as PDF
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: PDF, content: { application/pdf: { schema: { type: string, format: binary } } } } }
  /billing/payments:
    get: { tags: [billing], summary: Card payments of the team, responses: { "200": { description: OK } } }
  /billing/payments/moyasar/webhook:
    post: { tags: [billing], security: [], summary: "Moyasar webhook (payment events, verified with the shared token and an invoice fetch)", responses: { "200": { description: OK } } }
  /billing/payments/moyasar/callback:
    get: { tags: [billing], security: [], summary: Moyasar callback after the hosted page (result verified by retrieving the invoice), responses: { "302": { description: Redirect to the console } } }
  /pricing:
    get:
      tags: [catalog]
      security: []
      summary: Public price list (USD base; SAR converted at the current exchange rate)
      parameters: [{ name: currency, in: query, schema: { type: string, enum: [USD, SAR], default: USD } }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  currency: { type: string }
                  baseCurrency: { type: string, enum: [USD] }
                  fxRate: { type: number, description: USD to currency rate used for this response }
                  hoursPerMonth: { type: integer }
                  data: { type: array, items: { type: object, properties: { resourceType: { type: string }, sku: { type: string }, unit: { type: string }, monthlyMinor: { type: integer }, hourlyMinor: { type: integer }, size: { $ref: "#/components/schemas/Size" } } } }

  /servers:
    get:
      tags: [servers]
      summary: List servers
      parameters:
        - { $ref: "#/components/parameters/project" }
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { name: status, in: query, schema: { $ref: "#/components/schemas/ServerStatus" } }
        - { name: tag, in: query, schema: { type: string } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/Server" } }, meta: { $ref: "#/components/schemas/PageMeta" } } } } } }
    post:
      tags: [servers]
      summary: Create a server
      description: |
        Returns `202` immediately with `status: new`. A durable workflow places the server,
        reserves a public IP, clones the image, waits for cloud-init, applies the firewall and
        starts metering. Watch `status` become `active` (30–60 s) or subscribe to `server.active`.
        The server is never billed unless it reaches `active`.
      parameters: [{ $ref: "#/components/parameters/idempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CreateServer" } } } }
      responses:
        "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/Server" } } } }
        "402": { description: Spend limit reached (`spend_limit_reached`) }
        "403": { description: "Quota exceeded (`quota_exceeded`), account not verified (`verification_required`) or suspended" }
        "422": { $ref: "#/components/responses/Invalid" }
  /servers/{id}:
    get:
      tags: [servers]
      summary: Get a server
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Server" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [servers]
      summary: Delete a server
      description: Returns `202`; the server moves to `deleting` and is removed by a workflow. Metering stops immediately.
      parameters: [{ $ref: "#/components/parameters/id" }, { $ref: "#/components/parameters/idempotencyKey" }]
      responses:
        "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/ServerAction" } } } }
        "409": { description: Invalid state (`invalid_state`) }
    patch:
      tags: [servers]
      summary: Rename, retag, or turn backups or the managed tier on or off
      description: Turning managed on also turns backups on. A server that never had the care agent gets it on its next rebuild, or right away with the install command from `GET /servers/{id}/managed`.
      parameters: [{ $ref: "#/components/parameters/id" }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { name: { type: string }, tags: { type: array, items: { type: string } }, backups: { type: boolean, description: "Daily platform snapshot, last seven kept, 20 percent of the plan" }, managed: { type: boolean, description: "Managed tier, 30 percent of the plan plus backups" } } } } } }
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Server" } } } } }
  /servers/{id}/managed:
    get:
      tags: [servers]
      summary: Managed tier status
      description: Health from the care agent's last report, the report itself, and the install command while the agent is not reporting.
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ManagedStatus" } } } }
  /managed/install/{token}:
    get:
      tags: [servers]
      summary: Care agent install script
      description: Public, keyed by the server's managed token. Served as a shell script for `curl | sh`.
      security: []
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: OK, content: { text/plain: { schema: { type: string } } } }, "401": { description: Unknown token } }
  /managed/report:
    post:
      tags: [servers]
      summary: Care agent report
      description: Posted by the agent inside a managed server every five minutes, authenticated by the `X-Prgd-Managed-Token` header.
      security: []
      parameters: [{ name: X-Prgd-Managed-Token, in: header, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ManagedReport" } } } }
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { ok: { type: boolean }, health: { type: string }, issues: { type: array, items: { type: string } } } } } } }, "401": { description: Unknown token } }
  /servers/{id}/actions:
    get:
      tags: [servers]
      summary: List recent actions on a server
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses: { "200": { description: OK } }
    post:
      tags: [servers]
      summary: Run a lifecycle action
      parameters: [{ $ref: "#/components/parameters/id" }, { $ref: "#/components/parameters/idempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type: { type: string, enum: [start, stop, reboot, resize, rebuild, snapshot] }
                size: { type: string, description: "resize: target size id (disk cannot shrink)" }
                image: { type: string, description: "rebuild: image id (defaults to current)" }
                name: { type: string, description: "snapshot: name" }
                force: { type: boolean, description: "stop: power off without ACPI shutdown" }
      responses:
        "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/ServerAction" } } } }
        "409": { description: Invalid state (`invalid_state`) }

  /deploys:
    get: { tags: [deploys], summary: List Git deployments, parameters: [{ $ref: "#/components/parameters/project" }], responses: { "200": { description: OK } } }
    post:
      tags: [deploys]
      summary: Deploy a Git repository onto a new server
      description: |
        Creates a server whose cloud-init installs Docker, clones the repo, builds (Dockerfile or docker-compose) and serves it on :80.
        Two ways to name the repository: `repoUrl` (public, or private with `gitToken`) returns a per deployment GitHub webhook URL and
        secret (shown once) to add to the repository; `installationId` + `repo` ("owner/name") uses the team's GitHub App installation,
        needs no token, and redeploys on every push through the app webhook (`webhook` is null).
      parameters: [{ $ref: "#/components/parameters/idempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { repoUrl: { type: string, format: uri }, installationId: { type: string }, repo: { type: string, example: acme/app }, branch: { type: string, default: main }, name: { type: string }, port: { type: integer, default: 3000 }, size: { type: string }, project: { type: string }, sshKeys: { type: array, items: { type: string } }, env: { type: object, additionalProperties: { type: string } }, gitToken: { type: string, description: For private repos; stored only in the server's cloud-init } } } } } }
      responses: { "202": { description: "Accepted; includes `webhook` (url and secret) for URL based deployments, null for app based ones" } }
  /deploys/{id}:
    get: { tags: [deploys], summary: Get a deployment (refreshes status from the server), parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK } } }
  /deploys/{id}/redeploy:
    post: { tags: [deploys], summary: Redeploy now, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "202": { description: Accepted } } }
  /deploys/{id}/hook:
    post:
      tags: [deploys]
      security: []
      summary: GitHub push webhook (verified with X-Hub-Signature-256)
      parameters: [{ $ref: "#/components/parameters/id" }, { name: X-Hub-Signature-256, in: header, required: true, schema: { type: string } }, { name: X-GitHub-Event, in: header, schema: { type: string } }]
      responses: { "200": { description: OK }, "401": { $ref: "#/components/responses/Unauthorized" } }
  /approvals:
    get:
      tags: [approvals]
      summary: List approval requests (agents see only their own)
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [pending, approved, denied, expired, failed] } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/Approval" } }, pending: { type: integer } } } } } }
  /approvals/{id}:
    get:
      tags: [approvals]
      summary: Get one approval request
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Approval" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
  /approvals/{id}/approve:
    post:
      tags: [approvals]
      summary: Approve and run the parked request
      description: Team owners and admins only, never an agent token. The request runs with the agent token's project scope and spending cap still applied; the audit log records both the person and the token.
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses:
        "201": { description: Ran, content: { application/json: { schema: { $ref: "#/components/schemas/Approval" } } } }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Already decided or expired (`invalid_state`) }
  /approvals/{id}/deny:
    post:
      tags: [approvals]
      summary: Deny the parked request
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      requestBody: { content: { application/json: { schema: { type: object, properties: { reason: { type: string, maxLength: 500 } } } } } }
      responses:
        "201": { description: Denied, content: { application/json: { schema: { $ref: "#/components/schemas/Approval" } } } }
  /deploys/{id}/logs:
    get:
      tags: [deploys]
      summary: Tail of the last build log
      description: Fetched live from the server when it is reachable, otherwise the last cached copy. Capped at 32 KB.
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: object, properties: { id: { type: string }, status: { type: string }, commit: { type: [string, "null"] }, log: { type: string }, updatedAt: { type: [string, "null"], format: date-time }, live: { type: boolean, description: true when read from the server just now } } } } } }
  /github/app:
    get: { tags: [github], summary: Whether the GitHub App integration is configured, responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { enabled: { type: boolean } } } } } } } }
  /github/connect:
    get:
      tags: [github]
      summary: URL to install the GitHub App for this team
      description: Send the user there. GitHub returns them to the console callback with installation_id and the signed state, which the console posts to /github/installations.
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { url: { type: string } } } } } }, "503": { description: Not configured (`github_app_unavailable`) } }
  /github/installations:
    get: { tags: [github], summary: GitHub App installations linked to the team, responses: { "200": { description: OK } } }
    post:
      tags: [github]
      summary: Link an installation after the GitHub redirect
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [installationId, state], properties: { installationId: { type: integer }, state: { type: string } } } } } }
      responses: { "201": { description: Linked }, "401": { description: State invalid or expired } }
  /github/installations/{id}:
    delete: { tags: [github], summary: Unlink and uninstall, parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "204": { description: Removed } } }
  /github/installations/{id}/repos:
    get: { tags: [github], summary: Repositories the installation can reach, parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: OK } } }
  /github/webhook:
    post:
      tags: [github]
      security: []
      summary: GitHub App webhook (push, installation)
      description: One URL for every installation, verified with X-Hub-Signature-256 and the app webhook secret. A push redeploys every deployment on that repository and branch.
      responses: { "200": { description: OK } }
  /servers/{id}/metrics:
    get:
      tags: [monitoring]
      summary: Time series for a server
      description: One point per minute for 1h, 6h and 24h; hourly averages (with the hour's CPU peak) for 7d and 30d. Network and disk are bytes per second; multiply by 8 and divide by a million for Mbps.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: period, in: query, schema: { type: string, enum: [1h, 6h, 24h, 7d, 30d], default: 1h } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/MetricSeries" } } } }
  /alerts:
    get: { tags: [monitoring], summary: List alert rules, responses: { "200": { description: OK } } }
    post:
      tags: [monitoring]
      summary: Create an alert rule
      description: Fires when the metric, averaged over windowMinutes, is above or below the threshold on any matching server. Empty serverIds and tags means every server in the team. Owners and admins are emailed, plus any addresses in emails; webhooks get alert.triggered and alert.resolved.
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/AlertRuleInput" } } } }
      responses: { "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/AlertRule" } } } } }
  /alerts/incidents:
    get:
      tags: [monitoring]
      summary: Incidents (open and recent)
      parameters: [{ name: open, in: query, schema: { type: boolean } }]
      responses: { "200": { description: OK } }
  /alerts/{id}:
    get: { tags: [monitoring], summary: Get an alert rule with recent incidents, parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: OK }, "404": { $ref: "#/components/responses/NotFound" } } }
    patch:
      tags: [monitoring]
      summary: Update an alert rule (any field, including enabled to mute)
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/AlertRuleInput" } } } }
      responses: { "200": { description: OK } }
    delete: { tags: [monitoring], summary: Delete an alert rule, parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "204": { description: Deleted } } }
  /firewalls:
    get: { tags: [network], summary: List firewalls, parameters: [{ $ref: "#/components/parameters/project" }], responses: { "200": { description: OK } } }
    post:
      tags: [network]
      summary: Create a firewall
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name, rules], properties: { name: { type: string }, project: { type: string }, rules: { type: array, items: { $ref: "#/components/schemas/FirewallRule" } } } } } } }
      responses: { "201": { description: Created } }
  /firewalls/{id}:
    get: { tags: [network], summary: Get a firewall, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK } } }
    delete: { tags: [network], summary: Delete a firewall, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "204": { description: Deleted } } }
  /firewalls/{id}/rules:
    put:
      tags: [network]
      summary: Replace all rules (re-applied to attached servers immediately)
      parameters: [{ $ref: "#/components/parameters/id" }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [rules], properties: { rules: { type: array, items: { $ref: "#/components/schemas/FirewallRule" } } } } } } }
      responses: { "200": { description: OK } }
  /firewalls/{id}/servers:
    post:
      tags: [network]
      summary: Attach a server
      parameters: [{ $ref: "#/components/parameters/id" }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [serverId], properties: { serverId: { type: string } } } } } }
      responses: { "204": { description: Attached } }
  /firewalls/{id}/servers/{serverId}:
    delete: { tags: [network], summary: Detach a server, parameters: [{ $ref: "#/components/parameters/id" }, { name: serverId, in: path, required: true, schema: { type: string } }], responses: { "204": { description: Detached } } }
  /public-ips:
    get: { tags: [network], summary: List public IPs in a project, parameters: [{ $ref: "#/components/parameters/project" }], responses: { "200": { description: OK } } }

  /snapshots:
    get: { tags: [snapshots], summary: List snapshots, parameters: [{ $ref: "#/components/parameters/project" }], responses: { "200": { description: OK } } }
  /snapshots/{id}:
    delete: { tags: [snapshots], summary: Delete a snapshot, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "202": { description: Accepted } } }

  /volumes:
    get: { tags: [volumes], summary: List volumes, parameters: [{ $ref: "#/components/parameters/project" }, { name: server, in: query, description: Only volumes attached to this server, schema: { type: string } }], responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/Volume" } } } } } } } } }
    post:
      tags: [volumes]
      summary: Create a volume
      description: Allocates a block volume in the region. Returns 202; the volume becomes `available` within seconds, or `attached` when `serverId` is given.
      parameters: [{ $ref: "#/components/parameters/idempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CreateVolume" } } } }
      responses: { "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/Volume" } } } }, "403": { $ref: "#/components/responses/Forbidden" } }
  /volumes/{id}:
    get: { tags: [volumes], summary: Get a volume, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Volume" } } } }, "404": { $ref: "#/components/responses/NotFound" } } }
    delete: { tags: [volumes], summary: Delete a volume, description: The volume must be detached. Data is gone for good., parameters: [{ $ref: "#/components/parameters/id" }], responses: { "202": { description: Accepted }, "409": { description: Still attached } } }
  /volumes/{id}/attach:
    post: { tags: [volumes], summary: Attach to a server, description: Hot plugs the volume. The server must be in the same region and active or off. The guest sees the disk at `device`., parameters: [{ $ref: "#/components/parameters/id" }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [serverId], properties: { serverId: { type: string } } } } } }, responses: { "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/Volume" } } } } } }
  /volumes/{id}/detach:
    post: { tags: [volumes], summary: Detach from its server, description: Unmount the file system in the guest first., parameters: [{ $ref: "#/components/parameters/id" }], responses: { "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/Volume" } } } } } }
  /volumes/{id}/resize:
    post: { tags: [volumes], summary: Grow a volume, description: Volumes only grow. An attached volume grows live; extend the file system in the guest afterwards., parameters: [{ $ref: "#/components/parameters/id" }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [sizeGb], properties: { sizeGb: { type: integer, minimum: 10, maximum: 16384 } } } } } }, responses: { "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/Volume" } } } } } }

  /load-balancers:
    get: { tags: [load-balancers], summary: List load balancers, parameters: [{ $ref: "#/components/parameters/project" }], responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/LoadBalancer" } } } } } } } } }
    post:
      tags: [load-balancers]
      summary: Create a load balancer
      description: Reserves a public IP, creates one to three HAProxy nodes and pushes the forwarding rules. Returns 202; status becomes `active` once every node runs the config.
      parameters: [{ $ref: "#/components/parameters/idempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CreateLoadBalancer" } } } }
      responses: { "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/LoadBalancer" } } } }, "403": { $ref: "#/components/responses/Forbidden" } }
  /load-balancers/{id}:
    get: { tags: [load-balancers], summary: Get a load balancer with target health, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/LoadBalancer" } } } }, "404": { $ref: "#/components/responses/NotFound" } } }
    patch: { tags: [load-balancers], summary: "Change rules, health check, algorithm, sticky sessions or tag", parameters: [{ $ref: "#/components/parameters/id" }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/UpdateLoadBalancer" } } } }, responses: { "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/LoadBalancer" } } } } } }
    delete: { tags: [load-balancers], summary: Delete a load balancer, description: Deletes the nodes and releases the IP., parameters: [{ $ref: "#/components/parameters/id" }], responses: { "202": { description: Accepted } } }
  /load-balancers/{id}/servers:
    post: { tags: [load-balancers], summary: Add target servers, parameters: [{ $ref: "#/components/parameters/id" }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [serverIds], properties: { serverIds: { type: array, items: { type: string } } } } } } }, responses: { "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/LoadBalancer" } } } } } }
  /load-balancers/{id}/servers/{serverId}:
    delete: { tags: [load-balancers], summary: Remove a target server, parameters: [{ $ref: "#/components/parameters/id" }, { name: serverId, in: path, required: true, schema: { type: string } }], responses: { "202": { description: Accepted } } }
  /certificates:
    get: { tags: [load-balancers], summary: List certificates, parameters: [{ $ref: "#/components/parameters/project" }], responses: { "200": { description: OK } } }
    post:
      tags: [load-balancers]
      summary: Add a certificate
      description: Either an uploaded PEM pair (`custom`) or a list of domains the load balancer gets issued by Let's Encrypt (`letsencrypt`). Point the domains at the load balancer IP first.
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name, type], properties: { name: { type: string }, type: { type: string, enum: [custom, letsencrypt] }, certPem: { type: string }, keyPem: { type: string }, domains: { type: array, items: { type: string } }, project: { type: string } } } } } }
      responses: { "201": { description: Created } }
  /certificates/{id}:
    delete: { tags: [load-balancers], summary: Delete a certificate, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: Deleted }, "409": { description: In use by a load balancer } } }

  /domains:
    get: { tags: [dns], summary: List hosted zones, parameters: [{ $ref: "#/components/parameters/project" }], responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/Domain" } }, nameservers: { type: array, items: { type: string } } } } } } } } }
    post:
      tags: [dns]
      summary: Add a domain
      description: Creates the zone on our nameservers. Set the domain's nameservers at the registrar to the ones returned. Free.
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string, example: example.com }, ip: { type: string, description: Creates an apex A record }, project: { type: string } } } } } }
      responses: { "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/Domain" } } } }, "409": { description: Name taken } }
  /domains/{name}:
    get: { tags: [dns], summary: Get a zone with its records, parameters: [{ name: name, in: path, required: true, schema: { type: string } }], responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Domain" } } } }, "404": { $ref: "#/components/responses/NotFound" } } }
    delete: { tags: [dns], summary: Delete a zone and its records, parameters: [{ name: name, in: path, required: true, schema: { type: string } }], responses: { "200": { description: Deleted } } }
  /domains/{name}/zone-file:
    get: { tags: [dns], summary: The zone in BIND format, parameters: [{ name: name, in: path, required: true, schema: { type: string } }], responses: { "200": { description: OK, content: { text/plain: { schema: { type: string } } } } } }
  /domains/{name}/records:
    post:
      tags: [dns]
      summary: Add a record
      parameters: [{ name: name, in: path, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CreateDnsRecord" } } } }
      responses: { "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/DnsRecord" } } } }, "409": { description: CNAME conflict } }
  /domains/{name}/records/{id}:
    patch: { tags: [dns], summary: Change a record, parameters: [{ name: name, in: path, required: true, schema: { type: string } }, { $ref: "#/components/parameters/id" }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { name: { type: string }, content: { type: string }, ttl: { type: integer }, priority: { type: integer } } } } } }, responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/DnsRecord" } } } } } }
    delete: { tags: [dns], summary: Delete a record, parameters: [{ name: name, in: path, required: true, schema: { type: string } }, { $ref: "#/components/parameters/id" }], responses: { "200": { description: Deleted } } }
  /public-ips/{id}/reverse-dns:
    put: { tags: [dns], summary: Set reverse DNS (PTR) for a public IP, parameters: [{ $ref: "#/components/parameters/id" }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { name: { type: [string, "null"], description: "Hostname, or null to clear" } } } } } }, responses: { "200": { description: OK } } }

  /buckets:
    get: { tags: [object-storage], summary: List buckets, parameters: [{ $ref: "#/components/parameters/project" }], responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/Bucket" } }, endpoint: { type: string }, region: { type: string } } } } } } } }
    post:
      tags: [object-storage]
      summary: Create a bucket
      description: Names are global and DNS safe (3 to 63 lowercase letters, digits, hyphens). Billed per GB per month.
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string }, region: { type: string }, project: { type: string }, public: { type: boolean, description: Anyone can read objects } } } } } }
      responses: { "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/Bucket" } } } }, "409": { description: Name taken } }
  /buckets/{name}:
    get: { tags: [object-storage], summary: Get a bucket, parameters: [{ name: name, in: path, required: true, schema: { type: string } }], responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Bucket" } } } }, "404": { $ref: "#/components/responses/NotFound" } } }
    patch: { tags: [object-storage], summary: Change public read, parameters: [{ name: name, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { public: { type: boolean } } } } } }, responses: { "200": { description: OK } } }
    delete: { tags: [object-storage], summary: Delete an empty bucket, parameters: [{ name: name, in: path, required: true, schema: { type: string } }], responses: { "200": { description: Deleted }, "409": { description: Not empty } } }
  /buckets/{name}/objects:
    get: { tags: [object-storage], summary: List objects under a prefix, parameters: [{ name: name, in: path, required: true, schema: { type: string } }, { name: prefix, in: query, schema: { type: string } }, { name: token, in: query, schema: { type: string } }], responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { prefix: { type: string }, prefixes: { type: array, items: { type: string } }, objects: { type: array, items: { type: object, properties: { key: { type: string }, size: { type: integer }, lastModified: { type: string } } } }, nextToken: { type: string } } } } } } } }
    delete: { tags: [object-storage], summary: Delete one object, parameters: [{ name: name, in: path, required: true, schema: { type: string } }, { name: key, in: query, required: true, schema: { type: string } }], responses: { "200": { description: Deleted } } }
  /buckets/{name}/presign:
    post: { tags: [object-storage], summary: "Presigned URL for GET, PUT or DELETE of one key", parameters: [{ name: name, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [key], properties: { key: { type: string }, method: { type: string, enum: [GET, PUT, DELETE], default: GET }, expiresSeconds: { type: integer, minimum: 60, maximum: 604800, default: 900 }, contentType: { type: string } } } } } }, responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { url: { type: string }, method: { type: string }, key: { type: string }, expiresAt: { type: string, format: date-time } } } } } } } }
  /storage-keys:
    get: { tags: [object-storage], summary: List S3 access keys (no secrets), parameters: [{ $ref: "#/components/parameters/project" }], responses: { "200": { description: OK } } }
    post: { tags: [object-storage], summary: Create an access key; the secret is returned once, requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string }, project: { type: string } } } } } }, responses: { "201": { description: Created, content: { application/json: { schema: { type: object, properties: { id: { type: string }, name: { type: string }, accessKey: { type: string }, secretKey: { type: string }, endpoint: { type: string }, region: { type: string } } } } } } } }
  /storage-keys/{id}:
    delete: { tags: [object-storage], summary: Revoke an access key, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: Revoked } } }

  /app-platform/sizes:
    get: { tags: [app-platform], summary: Container sizes, responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { type: object, properties: { id: { type: string }, memoryMb: { type: integer }, cpus: { type: number } } } } } } } } } } }
  /app-platform/apps:
    get: { tags: [app-platform], summary: List apps, parameters: [{ $ref: "#/components/parameters/project" }], responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/PlatformApp" } } } } } } } } }
    post:
      tags: [app-platform]
      summary: Create an app
      description: |
        Push code, get a URL. Returns `202` with status `creating`; the platform picks a shared host (or starts one), builds the repository
        (a Dockerfile at the root, or a generated one for Node, Python, Go and static projects), runs `instances` containers of `size`
        and serves them at `https://<name>.<apps domain>` with TLS. Name the repository with `repoUrl` (and `gitToken` for a private one)
        or with `installationId` and `repo` from the GitHub App, which also redeploys on every push. Poll until `live`; on `failed`, read the build log.
      parameters: [{ $ref: "#/components/parameters/idempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string, description: "Hostname label, unique across the platform" }, repoUrl: { type: string, format: uri }, installationId: { type: string }, repo: { type: string, example: acme/app }, gitToken: { type: string }, branch: { type: string, default: main }, port: { type: integer, default: 3000 }, size: { type: string, enum: [app-xs, app-s, app-m, app-l], default: app-xs }, instances: { type: integer, minimum: 1, maximum: 5, default: 1 }, env: { type: object, additionalProperties: { type: string } }, healthPath: { type: string }, region: { type: string }, project: { type: string } } } } } }
      responses: { "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformApp" } } } }, "409": { description: Name taken (`name_taken`) } }
  /app-platform/apps/{id}:
    get: { tags: [app-platform], summary: Get an app, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformApp" } } } }, "404": { $ref: "#/components/responses/NotFound" } } }
    patch:
      tags: [app-platform]
      summary: Change configuration and deploy again
      description: "`env` replaces the whole set. A bigger size or more instances checks the spend limit and the host's room."
      parameters: [{ $ref: "#/components/parameters/id" }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { branch: { type: string }, port: { type: integer }, size: { type: string, enum: [app-xs, app-s, app-m, app-l] }, instances: { type: integer, minimum: 1, maximum: 5 }, env: { type: object, additionalProperties: { type: string } }, healthPath: { type: string }, gitToken: { type: string } } } } } }
      responses: { "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformApp" } } } } }
    delete: { tags: [app-platform], summary: Delete an app, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "202": { description: Accepted } } }
  /app-platform/apps/{id}/deploy:
    post: { tags: [app-platform], summary: Build and deploy the branch head now, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "202": { description: Accepted } } }
  /app-platform/apps/{id}/stop:
    post: { tags: [app-platform], summary: Stop the instances and the charge, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK } } }
  /app-platform/apps/{id}/start:
    post: { tags: [app-platform], summary: Start a stopped app, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK } } }
  /app-platform/apps/{id}/deploys:
    get: { tags: [app-platform], summary: Deploy history, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK } } }
  /app-platform/apps/{id}/logs:
    get: { tags: [app-platform], summary: Build or runtime log, description: Fetched live from the host when reachable; the build log is cached on the app otherwise. Capped at 32 KB., parameters: [{ $ref: "#/components/parameters/id" }, { name: type, in: query, schema: { type: string, enum: [build, runtime], default: build } }], responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { id: { type: string }, type: { type: string }, log: { type: string }, live: { type: boolean }, updatedAt: { type: string, format: date-time } } } } } } } }
  /app-platform/apps/{id}/domains:
    post: { tags: [app-platform], summary: Attach a custom domain, description: Point a CNAME at the app hostname; the certificate is issued on the first request., parameters: [{ $ref: "#/components/parameters/id" }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [domain], properties: { domain: { type: string } } } } } }, responses: { "200": { description: OK }, "409": { description: Domain attached to another app (`domain_taken`) } } }
  /app-platform/apps/{id}/domains/{domain}:
    delete: { tags: [app-platform], summary: Detach a custom domain, parameters: [{ $ref: "#/components/parameters/id" }, { name: domain, in: path, required: true, schema: { type: string } }], responses: { "200": { description: OK } } }
  /kubernetes/versions:
    get: { tags: [kubernetes], summary: Kubernetes versions on offer, responses: { "200": { description: OK } } }
  /kubernetes/clusters:
    get: { tags: [kubernetes], summary: List clusters, parameters: [{ $ref: "#/components/parameters/project" }], responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/KubeCluster" } } } } } } } } }
    post:
      tags: [kubernetes]
      summary: Create a cluster
      description: Returns `202` with status `creating`. One control plane node is included; `ha` gives three behind one address for a flat monthly fee. Worker pools are sized like servers (at least 2 GB of memory) and billed as servers. Bootstrapping takes about ten minutes; poll until `active`, then fetch the kubeconfig.
      parameters: [{ $ref: "#/components/parameters/idempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name, pools], properties: { name: { type: string }, version: { type: string, example: "1.31" }, region: { type: string }, project: { type: string }, ha: { type: boolean }, controlSize: { type: string }, pools: { type: array, minItems: 1, items: { $ref: "#/components/schemas/KubePoolInput" } } } } } } }
      responses: { "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/KubeCluster" } } } }, "402": { description: Spend limit (`spend_limit_reached`) }, "429": { description: Quota (`quota_exceeded`) } }
  /kubernetes/clusters/{id}:
    get: { tags: [kubernetes], summary: "Get a cluster with its pools, nodes and cloud resources", parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/KubeCluster" } } } }, "404": { $ref: "#/components/responses/NotFound" } } }
    patch: { tags: [kubernetes], summary: Rename a cluster, parameters: [{ $ref: "#/components/parameters/id" }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { name: { type: string } } } } } }, responses: { "200": { description: OK } } }
    delete: { tags: [kubernetes], summary: Delete a cluster with its nodes and the load balancers and volumes it created, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "202": { description: Accepted } } }
  /kubernetes/clusters/{id}/kubeconfig:
    get: { tags: [kubernetes], summary: Admin kubeconfig as YAML, description: Needs `kubernetes:write`. Treat it like a password., parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK, content: { application/yaml: { schema: { type: string } } } }, "409": { description: Cluster not bootstrapped yet (`invalid_state`) } } }
  /kubernetes/clusters/{id}/pools:
    post: { tags: [kubernetes], summary: Add a worker pool, parameters: [{ $ref: "#/components/parameters/id" }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/KubePoolInput" } } } }, responses: { "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/KubeCluster" } } } } } }
  /kubernetes/clusters/{id}/pools/{poolId}:
    patch: { tags: [kubernetes], summary: Scale a pool, description: Growing adds servers; shrinking drains and removes the highest numbered nodes first., parameters: [{ $ref: "#/components/parameters/id" }, { name: poolId, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [count], properties: { count: { type: integer, minimum: 0, maximum: 50 } } } } } }, responses: { "202": { description: Accepted } } }
    delete: { tags: [kubernetes], summary: Remove a pool and its nodes, parameters: [{ $ref: "#/components/parameters/id" }, { name: poolId, in: path, required: true, schema: { type: string } }], responses: { "202": { description: Accepted }, "400": { description: The last pool cannot be removed } } }
  /support/plans:
    get:
      tags: [support]
      summary: Support plan catalog
      description: Public. Plans with first response targets per priority (hours, null when the priority is not allowed on the plan) and the monthly price in the requested currency.
      security: []
      parameters: [{ name: currency, in: query, schema: { type: string, enum: [USD, SAR], default: USD } }]
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/SupportPlan" } } } } } } } }
  /support/plan:
    get:
      tags: [support]
      summary: The team's support plan
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/SupportPlanStatus" } } } } }
    put:
      tags: [support]
      summary: Change the support plan
      description: Needs `billing:write`. An upgrade checks the spend limit on the team's oldest project; a downgrade applies at once. Open tickets keep the targets of the plan they were opened under.
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [plan], properties: { plan: { type: string, enum: [free, developer, standard, premium] } } } } } }
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/SupportPlanStatus" } } } } }
  /support/tickets:
    get:
      tags: [support]
      summary: List tickets
      parameters: [{ name: status, in: query, schema: { type: string, enum: [open, answered, closed, all], default: all } }, { $ref: "#/components/parameters/limit" }, { $ref: "#/components/parameters/cursor" }]
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/Ticket" } }, meta: { $ref: "#/components/schemas/PageMeta" } } } } } } }
    post:
      tags: [support]
      summary: Open a ticket
      description: Priority must be allowed on the team's plan (`400` with the allowed list otherwise). `resource` names what the ticket is about and must belong to the team. Owners and the opener get every answer by email.
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [subject, body], properties: { subject: { type: string, minLength: 3, maxLength: 140 }, body: { type: string }, priority: { type: string, enum: [low, normal, high, urgent], default: normal }, resource: { type: string, description: '"server:<id>", "database:<id>", "load_balancer:<id>", "volume:<id>", "domain:<id>", "bucket:<id>" or "invoice:<id>"' } } } } } }
      responses: { "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/Ticket" } } } }, "429": { description: Open ticket limit for the plan (`quota_exceeded`) } }
  /support/tickets/{id}:
    get:
      tags: [support]
      summary: Get a ticket with its messages
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Ticket" } } } }, "404": { $ref: "#/components/responses/NotFound" } }
  /support/tickets/{id}/messages:
    post:
      tags: [support]
      summary: Reply on a ticket
      description: Reopens a closed ticket for up to 14 days after it was closed.
      parameters: [{ $ref: "#/components/parameters/id" }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [body], properties: { body: { type: string } } } } } }
      responses: { "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/Ticket" } } } } }
  /support/tickets/{id}/close:
    post:
      tags: [support]
      summary: Close a ticket
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Ticket" } } } } }
  /managed/plans:
    get:
      tags: [managed-cloud]
      summary: Active managed cloud plans
      description: Prices exclude VAT. `priceMinor` is null for a custom plan. Targets are minutes per priority; on BUSINESS_HOURS plans they count working minutes (09:00 to 17:00 on working days of the contract calendar, public holidays excluded).
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ManagedCloudPlan" } } } } } } } }
  /managed/contracts:
    get:
      tags: [managed-cloud]
      summary: The team's contracts
      description: Team owners only.
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ManagedCloudContract" } } } } } } }, "403": { $ref: "#/components/responses/Forbidden" } }
    post:
      tags: [managed-cloud]
      summary: Request a managed cloud plan
      description: Team owners only. Creates a DRAFT contract with the default responsibility matrix. A support lead reviews it, signs it and starts onboarding; the contract becomes ACTIVE, and billing starts, when onboarding is complete. One pending request per team.
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [plan], properties: { plan: { type: string, example: ESSENTIAL }, calendar: { type: string, enum: [SA], default: SA, description: "Business hours calendar. SA is Saudi business hours: Sunday to Thursday, 09:00 to 17:00 Saudi time." }, notes: { type: string, maxLength: 4000 } } } } } }
      responses: { "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ManagedCloudContract" } } } }, "409": { description: A request is already pending (`request_pending`) }, "422": { $ref: "#/components/responses/Invalid" } }
  /managed/contracts/{id}:
    get:
      tags: [managed-cloud]
      summary: Contract detail with SLA, responsibility matrix, onboarding progress and this month's engineer time
      description: Team owners only.
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ManagedCloudContract" } } } }, "404": { $ref: "#/components/responses/NotFound" } }
    patch:
      tags: [managed-cloud]
      summary: Turn automatic renewal on or off
      description: Team owners only (scope `managed:write`). With autoRenew false the contract ends at `termEndsAt`, access is removed and the handover document is emailed. Owners get a reminder 30 days before the term ends either way.
      parameters: [{ $ref: "#/components/parameters/id" }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [autoRenew], properties: { autoRenew: { type: boolean } } } } } }
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ManagedCloudContract" } } } }, "403": { $ref: "#/components/responses/Forbidden" }, "404": { $ref: "#/components/responses/NotFound" }, "409": { description: The contract is cancelled (`invalid_state`) } }
  /managed/contracts/{id}/cancel:
    post:
      tags: [managed-cloud]
      summary: Cancel the contract
      description: Team owners only (scope `managed:write`). An ACTIVE or SUSPENDED contract is scheduled to end at the start of next month (00:00 UTC) and `cancelAt` is set; the monthly fee is prorated up to then. Calling it again keeps the same date. A DRAFT or ONBOARDING contract has not been billed and is cancelled right away.
      parameters: [{ $ref: "#/components/parameters/id" }]
      requestBody: { content: { application/json: { schema: { type: object, properties: { reason: { type: string, maxLength: 2000 } } } } } }
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ManagedCloudContract" } } } }, "403": { $ref: "#/components/responses/Forbidden" }, "404": { $ref: "#/components/responses/NotFound" }, "409": { description: Already cancelled (`invalid_state`) } }
  /managed/contracts/{id}/cancel/undo:
    post:
      tags: [managed-cloud]
      summary: Withdraw a scheduled cancellation
      description: Team owners only (scope `managed:write`). Clears `cancelAt` before it takes effect; the contract continues as before.
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ManagedCloudContract" } } } }, "403": { $ref: "#/components/responses/Forbidden" }, "404": { $ref: "#/components/responses/NotFound" }, "409": { description: "No cancellation is scheduled, or it already took effect (`invalid_state`)" } }
  /managed/contracts/{id}/assets:
    get:
      tags: [managed-cloud]
      summary: Assets under management with health
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ManagedCloudAsset" } } } } } } }, "404": { $ref: "#/components/responses/NotFound" } }
    post:
      tags: [managed-cloud]
      summary: Ask for an asset to be managed
      description: Team owners only. The asset stays PENDING until an engineer approves it. PLATFORM_SERVER needs `serverId`; EXTERNAL_SERVER and SITE need `address`. Limited by the plan's `maxAssets`.
      parameters: [{ $ref: "#/components/parameters/id" }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [kind, name], properties: { kind: { type: string, enum: [PLATFORM_SERVER, EXTERNAL_SERVER, SITE] }, name: { type: string }, serverId: { type: string }, address: { type: string, description: "Public IP, hostname or site URL" }, provider: { type: string }, os: { type: string }, notes: { type: string } } } } } }
      responses: { "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ManagedCloudAsset" } } } }, "403": { description: "Not an owner, or the plan's asset limit is reached (`quota_exceeded`)" } }
  /managed/assets:
    get:
      tags: [managed-cloud]
      summary: Every managed asset of the team
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ManagedCloudAsset" } } } } } } } }
  /managed/contracts/{id}/reports:
    get:
      tags: [managed-cloud]
      summary: Monthly reports that were sent
      description: Team owners only. Reports are drafted on the 1st and sent by the 3rd.
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ManagedCloudMonthlyReport" } } } } } } } }
  /managed/contracts/{id}/reports/{reportId}/pdf:
    get:
      tags: [managed-cloud]
      summary: Download a monthly report as PDF
      parameters: [{ $ref: "#/components/parameters/id" }, { name: reportId, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: OK, content: { application/pdf: { schema: { type: string, format: binary } } } }, "404": { $ref: "#/components/responses/NotFound" } }
  /managed/tickets:
    get:
      tags: [managed-cloud]
      summary: Managed cloud tickets
      parameters: [{ name: status, in: query, schema: { type: string, enum: [open, answered, closed, all], default: all } }, { name: priority, in: query, schema: { $ref: "#/components/schemas/ManagedPriority" } }, { name: contractId, in: query, schema: { type: string } }, { $ref: "#/components/parameters/limit" }, { $ref: "#/components/parameters/cursor" }]
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ManagedCloudTicket" } }, meta: { $ref: "#/components/schemas/PageMeta" } } } } } } }
    post:
      tags: [managed-cloud]
      summary: Open a ticket
      description: Due times come from the plan's targets and the contract calendar. P1 and P2 page the engineer on call. `contractId` is needed only when the team has more than one contract; `assetId` implies it. Not allowed while the contract is suspended.
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [subject, body], properties: { subject: { type: string, minLength: 3, maxLength: 140 }, body: { type: string }, priority: { allOf: [{ $ref: "#/components/schemas/ManagedPriority" }], default: P3 }, contractId: { type: string }, assetId: { type: string } } } } } }
      responses: { "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ManagedCloudTicket" } } } }, "409": { description: The contract is not onboarding or active (`invalid_state`) } }
  /managed/tickets/{id}:
    get:
      tags: [managed-cloud]
      summary: A ticket with its messages
      description: Internal engineer notes are never included.
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ManagedCloudTicket" } } } }, "404": { $ref: "#/components/responses/NotFound" } }
  /managed/tickets/{id}/messages:
    post:
      tags: [managed-cloud]
      summary: Reply on a ticket
      description: Reopens a closed ticket for up to 14 days after it was closed.
      parameters: [{ $ref: "#/components/parameters/id" }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [body], properties: { body: { type: string } } } } } }
      responses: { "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ManagedCloudTicket" } } } } }
  /managed/tickets/{id}/close:
    post:
      tags: [managed-cloud]
      summary: Close a ticket
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ManagedCloudTicket" } } } } }
  /databases:
    get: { tags: [databases], summary: List managed database clusters, parameters: [{ $ref: "#/components/parameters/project" }], responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/DatabaseCluster" } } } } } } } } }
    post:
      tags: [databases]
      summary: Create a cluster
      description: One node, or three nodes with automatic failover. Returns 202; the cluster becomes `active` in a few minutes. Priced per node per month.
      parameters: [{ $ref: "#/components/parameters/idempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name, engine, size], properties: { name: { type: string }, engine: { type: string, enum: [postgres, valkey, mysql] }, version: { type: string }, size: { type: string, description: A server size id with at least 1 GB of memory }, nodes: { type: integer, enum: [1, 3], default: 1 }, region: { type: string }, project: { type: string }, trustedSources: { type: array, items: { type: string } }, backupHourUtc: { type: integer, minimum: 0, maximum: 23, default: 2 } } } } } }
      responses: { "202": { description: Accepted, content: { application/json: { schema: { $ref: "#/components/schemas/DatabaseCluster" } } } } }
  /databases/engines:
    get: { tags: [databases], summary: Engines and versions on offer, responses: { "200": { description: OK } } }
  /databases/{id}:
    get: { tags: [databases], summary: Get a cluster with connection details and secrets, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/DatabaseCluster" } } } }, "404": { $ref: "#/components/responses/NotFound" } } }
    patch: { tags: [databases], summary: Change trusted sources or the backup hour, parameters: [{ $ref: "#/components/parameters/id" }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { trustedSources: { type: array, items: { type: string } }, backupHourUtc: { type: integer } } } } } }, responses: { "202": { description: Accepted } } }
    delete: { tags: [databases], summary: Delete a cluster and its nodes, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "202": { description: Accepted } } }
  /databases/{id}/users:
    post: { tags: [databases], summary: Add a user (password returned once), parameters: [{ $ref: "#/components/parameters/id" }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string } } } } } }, responses: { "201": { description: Created } } }
  /databases/{id}/users/{userId}:
    delete: { tags: [databases], summary: Delete a user, parameters: [{ $ref: "#/components/parameters/id" }, { name: userId, in: path, required: true, schema: { type: string } }], responses: { "200": { description: Deleted } } }
  /databases/{id}/users/{userId}/reset-password:
    post: { tags: [databases], summary: Reset a user's password (returned once), parameters: [{ $ref: "#/components/parameters/id" }, { name: userId, in: path, required: true, schema: { type: string } }], responses: { "200": { description: OK } } }
  /databases/{id}/dbs:
    post: { tags: [databases], summary: Add a database, parameters: [{ $ref: "#/components/parameters/id" }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string } } } } } }, responses: { "201": { description: Created } } }
  /databases/{id}/dbs/{dbId}:
    delete: { tags: [databases], summary: Remove a database from the cluster, parameters: [{ $ref: "#/components/parameters/id" }, { name: dbId, in: path, required: true, schema: { type: string } }], responses: { "200": { description: Deleted } } }
  /databases/{id}/backups:
    get: { tags: [databases], summary: List backups, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK } } }
    post: { tags: [databases], summary: Take a backup now, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "202": { description: Accepted } } }

  /apps:
    get: { tags: [marketplace], security: [], summary: List marketplace apps, parameters: [{ name: category, in: query, schema: { type: string } }], responses: { "200": { description: OK } } }
  /apps/categories:
    get: { tags: [marketplace], security: [], summary: App categories with counts, responses: { "200": { description: OK } } }
  /apps/{slug}:
    get:
      tags: [marketplace]
      security: []
      summary: Get an app (its `variables` describe the one-click form)
      parameters: [{ name: slug, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: OK }, "404": { $ref: "#/components/responses/NotFound" } }

  /billing/balance:
    get: { tags: [billing], summary: "Credit balance, month-to-date spend and account status", responses: { "200": { description: OK } } }
  /billing/usage:
    get:
      tags: [billing]
      summary: Rated usage per resource
      parameters: [{ $ref: "#/components/parameters/project" }, { name: from, in: query, schema: { type: string, format: date-time } }, { name: to, in: query, schema: { type: string, format: date-time } }]
      responses: { "200": { description: OK } }
  /billing/invoices:
    get: { tags: [billing], summary: List invoices, responses: { "200": { description: OK } } }
  /billing/invoices/{id}:
    get: { tags: [billing], summary: Get an invoice with its usage lines, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "200": { description: OK } } }

  /webhooks:
    get: { tags: [webhooks], summary: List webhooks, responses: { "200": { description: OK } } }
    post:
      tags: [webhooks]
      summary: Create a webhook
      description: "Deliveries are signed with `X-Prgd-Signature: sha256=<hmac>` using the secret returned once at creation."
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [url, events], properties: { url: { type: string, format: uri }, events: { type: array, items: { $ref: "#/components/schemas/EventName" } } } } } } }
      responses: { "201": { description: Created } }
  /webhooks/events:
    get: { tags: [webhooks], summary: List subscribable event names, responses: { "200": { description: OK } } }
  /webhooks/{id}:
    delete: { tags: [webhooks], summary: Delete a webhook, parameters: [{ $ref: "#/components/parameters/id" }], responses: { "204": { description: Deleted } } }

  # ───────────── Progrid Connect (docs/connect.md) ─────────────
  /connect/overview:
    get:
      tags: [connect]
      summary: Connect overview (agents, runs in the last 24 hours, usage this period, recent runs)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents: { type: integer }
                  deployed: { type: integer }
                  runs24h: { type: integer }
                  failed24h: { type: integer }
                  counts: { type: object, properties: { connections: { type: integer }, webhooks: { type: integer }, keys: { type: integer }, templates: { type: integer } } }
                  usageThisPeriod: { type: object, properties: { executions: { type: integer }, aiInputTokens: { type: integer }, aiOutputTokens: { type: integer }, estimatedCostMinor: { type: integer }, currency: { type: string }, pricingConfigured: { type: boolean } } }
                  recentRuns: { type: array, items: { $ref: "#/components/schemas/ConnectRun" } }
  /connect/models:
    get:
      tags: [connect]
      summary: Models agents can use
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: object, properties: { provider: { type: string, enum: [anthropic, fake] }, data: { type: array, items: { $ref: "#/components/schemas/ConnectModel" } } } } } } }
  /connect/templates:
    get:
      tags: [connect]
      summary: Agent templates (Customer Support, Sales, Data Analyst, Monitoring, Research, Developer, Invoice)
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ConnectTemplate" } } } } } } }
  /connect/agents:
    get:
      tags: [connect]
      summary: List agents
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ConnectAgent" } } } } } } }
    post:
      tags: [connect]
      summary: Create an agent (blank or from a template)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 80 }
                description: { type: string }
                instructions: { type: string }
                model: { type: string, example: claude-opus-5-5 }
                effort: { type: string, enum: [low, medium, high] }
                templateSlug: { type: string, example: customer-support }
                project: { type: string, description: Project id or slug billed for the agent's usage }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectAgent" } } } }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/Invalid" }
  /connect/agents/generate:
    post:
      tags: [connect]
      summary: Build with AI. Drafts an agent from a description; nothing is saved
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [prompt], properties: { prompt: { type: string, minLength: 10, maxLength: 4000 } } } } } }
      responses:
        "200":
          description: A validated draft
          content:
            application/json:
              schema:
                type: object
                properties:
                  draft: { $ref: "#/components/schemas/ConnectDraft" }
                  issues: { type: array, items: { $ref: "#/components/schemas/ConnectIssue" } }
                  model: { type: string }
                  usage: { type: object, properties: { inputTokens: { type: integer }, outputTokens: { type: integer } } }
        "429": { description: Too many drafts this hour, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
  /connect/agents/from-draft:
    post:
      tags: [connect]
      summary: Save a draft (or a template) as an agent with its tools and workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [draft]
              properties:
                draft: { $ref: "#/components/schemas/ConnectDraft" }
                connections: { type: object, additionalProperties: { type: string }, description: "Maps connectionsNeeded refs (or names) to connection ids" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectAgent" } } } }
        "422": { $ref: "#/components/responses/Invalid" }
  /connect/agents/{id}:
    parameters: [{ $ref: "#/components/parameters/id" }]
    get:
      tags: [connect]
      summary: Get an agent with its tools, workflow, webhooks, keys and setup issues
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectAgentDetail" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [connect]
      summary: Edit an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string }
                instructions: { type: string }
                model: { type: string }
                effort: { type: string, enum: [low, medium, high] }
                variables: { type: array, items: { $ref: "#/components/schemas/ConnectVariableDef" } }
                limits: { $ref: "#/components/schemas/ConnectLimits" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectAgent" } } } }
    delete:
      tags: [connect]
      summary: Delete an agent (its keys stop working; runs and usage are kept)
      responses: { "204": { description: Deleted } }
  /connect/agents/{id}/variables/{key}:
    put:
      tags: [connect]
      summary: Set a variable value. Secret values are write only and never reach the model
      parameters: [{ $ref: "#/components/parameters/id" }, { name: key, in: path, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [value], properties: { value: { type: string, description: An empty string clears the value } } } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectVariable" } } } }
  /connect/agents/{id}/versions:
    parameters: [{ $ref: "#/components/parameters/id" }]
    get:
      tags: [connect]
      summary: List immutable versions
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ConnectAgentVersion" } } } } } } } }
    post:
      tags: [connect]
      summary: Snapshot the current draft as a new version
      requestBody: { content: { application/json: { schema: { type: object, properties: { note: { type: string } } } } } }
      responses: { "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectAgentVersion" } } } } }
  /connect/agents/{id}/deploy:
    post:
      tags: [connect]
      summary: Deploy a version (without one, the draft is snapshotted first)
      parameters: [{ $ref: "#/components/parameters/id" }]
      requestBody: { content: { application/json: { schema: { type: object, properties: { version: { type: integer } } } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectAgent" } } } }
        "409": { description: "agent_incomplete: the agent is missing connections or variables", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
  /connect/agents/{id}/pause:
    post:
      tags: [connect]
      summary: Pause a deployed agent (the run API answers 409 until it is deployed again)
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectAgent" } } } } }
  /connect/agents/{id}/test:
    post:
      tags: [connect]
      summary: Test run. Synchronous (up to 120 s) with the full step timeline, or async to stream it
      parameters: [{ $ref: "#/components/parameters/id" }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input: { description: Any JSON value }
                message: { type: string }
                useDraft: { type: boolean, default: true }
                async: { type: boolean, description: "Return the queued run at once and stream it from /connect/runs/{runId}/events" }
      responses:
        "200": { description: The run with its steps, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectRunWithSteps" } } } }
        "402": { description: "payment_required (top up first) or spend_limit_reached", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "429": { description: too_many_runs, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
  /connect/agents/{id}/runs:
    get:
      tags: [connect]
      summary: Runs of one agent
      parameters:
        - { $ref: "#/components/parameters/id" }
        - { name: status, in: query, schema: { $ref: "#/components/schemas/ConnectRunStatus" } }
        - { name: source, in: query, schema: { $ref: "#/components/schemas/ConnectRunSource" } }
        - { name: from, in: query, schema: { type: string, format: date-time } }
        - { name: to, in: query, schema: { type: string, format: date-time } }
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectRunPage" } } } } }
  /connect/agents/{id}/docs:
    get:
      tags: [connect]
      summary: How to call the agent, with cURL, JavaScript, Python and PHP examples
      parameters: [{ $ref: "#/components/parameters/id" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint: { type: string, format: uri }
                  auth: { type: object }
                  requestSchema: { type: object }
                  responseSchema: { type: object }
                  examples: { type: object, properties: { curl: { type: string }, javascript: { type: string }, python: { type: string }, php: { type: string } } }
  /connect/agents/{id}/tools:
    parameters: [{ $ref: "#/components/parameters/id" }]
    get:
      tags: [connect]
      summary: List an agent's tools
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ConnectTool" } } } } } } } }
    post:
      tags: [connect]
      summary: Add a tool
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectToolInput" } } } }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectTool" } } } }
        "409": { $ref: "#/components/responses/Conflict" }
  /connect/agents/{id}/tools/{toolId}:
    parameters: [{ $ref: "#/components/parameters/id" }, { name: toolId, in: path, required: true, schema: { type: string } }]
    patch:
      tags: [connect]
      summary: Edit a tool
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectToolInput" } } } }
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectTool" } } } } }
    delete:
      tags: [connect]
      summary: Delete a tool
      responses: { "204": { description: Deleted } }
  /connect/agents/{id}/tools/{toolId}/test:
    post:
      tags: [connect]
      summary: Run one tool with a given input (calls that need approval only run inside a run)
      parameters: [{ $ref: "#/components/parameters/id" }, { name: toolId, in: path, required: true, schema: { type: string } }]
      requestBody: { content: { application/json: { schema: { type: object, properties: { input: { description: Tool input } } } } } }
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { ok: { type: boolean }, output: {}, durationMs: { type: integer }, error: { type: [string, "null"] } } } } } } }
  /connect/agents/{id}/workflow:
    parameters: [{ $ref: "#/components/parameters/id" }]
    get:
      tags: [connect]
      summary: Get the workflow (null when the agent has none)
      responses: { "200": { description: OK, content: { application/json: { schema: { oneOf: [{ $ref: "#/components/schemas/ConnectWorkflow" }, { type: "null" }] } } } } }
    put:
      tags: [connect]
      summary: Save the workflow graph (validated; an empty graph removes it)
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [graph], properties: { graph: { $ref: "#/components/schemas/ConnectGraph" } } } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { oneOf: [{ $ref: "#/components/schemas/ConnectWorkflow" }, { type: "null" }] } } } }
        "422": { $ref: "#/components/responses/Invalid" }
  /connect/agents/{id}/webhooks:
    parameters: [{ $ref: "#/components/parameters/id" }]
    get:
      tags: [connect]
      summary: List the agent's inbound webhooks
      responses: { "200": { description: OK, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ConnectWebhook" } } } } } } } }
    post:
      tags: [connect]
      summary: Create an inbound webhook (the URL token and signing secret are shown once)
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string }, path: { type: string }, signing: { type: boolean }, enabled: { type: boolean } } } } } }
      responses: { "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectWebhookCreated" } } } } }
  /connect/agents/{id}/webhooks/{hookId}:
    parameters: [{ $ref: "#/components/parameters/id" }, { name: hookId, in: path, required: true, schema: { type: string } }]
    patch:
      tags: [connect]
      summary: Edit a webhook
      requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { name: { type: string }, path: { type: string }, signing: { type: boolean }, enabled: { type: boolean } } } } } }
      responses: { "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ConnectWebhook" } } } } }
    delete:
      tags: [connect]
      summary: Delete a webhook
      responses: { "204": { description: Deleted } }
  /connect/agents/{id}/webhooks/{hookId}/rotate:
    post:
      tags: [connect]
      summary: New URL token (and signing secret); the old ones stop working at once
      parameters: [{ $ref: "#/components/parameters/id" }, { name: hookId, in: path, required: true, schema: { type: string } }]
[...]
